{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/web_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <ul>
      <li><a href="home" class="top">Home</a></li>
      <li><a href="about" class="top">About</a></li>
    </ul>
    <div id="header">
        <h1>The Truth About Twitter</h1>
    </div>
    <div id="fyp">
        <p>A Final Year TUD Computer Science project</p>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>