body{
    height: 100%;
	font-family: Georgia serif;
    background: url("../img/background.jpg") left top;
    background-size: cover;
}
#header{
    position: relative;
    top:40px;
	left:400px;
    width:500px;
    text-align: center;
}
#form{
    position: relative;
    top:100px;
	left:415px;
    width:470px;
}
#result{
    position: relative;
    top:200px;
	left:400px;
    width:500px;
}
