{% block content %}
<div id="about">
    <h4>The Purpose of this site</h4>
    <p>
        Allowing anyone to input a Twitter account and whether it is predicted to be a real person or a form of fake or bot account.
        This is important because Twitter and other social media platforms have become polluted with fake accounts.
        Datasets from the <a id="a-content" href="https://botometer.iuni.iu.edu/bot-repository/datasets.html" target="_blank">Bot Repository</a>
        were used to train machine learning models to make these predictions based off of certain account properties.
    </p>
</div>

{% endblock %}